# Agent image
SDD_KIT_IMAGE=ghcr.io/united-software-platform/sdd-developer-kit
SDD_KIT_IMAGE_TAG=latest

# Application
PROJECT_DIR=/app
CLAUDE_CONFIG_DIR=/home/claude/.claude
CLAUDE_ACCOUNTS_DIR=.claude-accounts
CONTAINER_SSH_DIR=/home/claude/.ssh
SSH_DIR=.ssh
SSH_KEY=.ssh/id_ed25519
SSH_CONFIG=.ssh/config
SSH_KNOWN_HOSTS=.ssh/known_hosts
GIT_HOST=
GIT_USER=git
USER_ID=1000
GROUP_ID=1000

AGENT_RUNNER_PORT=11900
AGENT_RUNNER_URL=http://host.docker.internal:11900
AGENT_RUNNER_TOKEN=
